$color-red: #A63737;
$color-red-light: #D96666;
$color-red-dark: #730202;

$color-gray: #8B8B8C;
$color-gray-light: #D9D9D9;
$color-gray-dark: #242424;

$color-blue: #464D73;
$color-blue-light: #BDE3F2;

$color-brown: #A6806A;
$color-brown-light: #F2D9D0;
$color-brown-dark: #40281A;

$primary-color: $color-blue;

$secondary-color: $color-brown;
$secondary-light-color: $color-brown-light;